<div class="editor-page">
  <div class="container page">
    <div class="row">
    <div class="col-md-10 offset-md-1 col-xs-12">

        <app-list-errors [errors]="errors"></app-list-errors>

        <form [formGroup]="articleForm">
          <fieldset [disabled]="isSubmitting">

            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Article Title</mat-label>
              <input matInput formControlName="title">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
              <mat-label>What's this article about?</mat-label>
              <input matInput formControlName="description">
            </mat-form-field>

            <!-- <mat-form-field appearance="outline" class="w-full">
              <mat-label>Write your article (in markdown)</mat-label>
              <textarea matInput formControlName="body" rows="8"></textarea>
            </mat-form-field> -->
            <angular-editor formControlName="body" [config]="editorConfig"></angular-editor>

            <div class="mt-5">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Write your article (in markdown)</mat-label>
                <input matInput [formControl]="tagField"
                (keyup.enter)="addTag()">
              </mat-form-field>
            </div>

            <div class="tag-list">
              <span *ngFor="let tag of article.tagList"
                class="tag-default tag-pill">
                <i class="ion-close-round" (click)="removeTag(tag)"></i>
                {{ tag }}
              </span>
            </div>

            <div class="flex justify-end w-full">
              <button mat-raised-button color="primary" (click)="submitForm()">Publish Article</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
